@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
/*  Primary Color */

    --BrightBlue: hsl(220, 98%, 61%);

/*  Light Theme */

    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryLightGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlueL: hsl(233, 11%, 84%);
    --DarkGrayishBlueL: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlueL: hsl(235, 19%, 35%);

/*  Dark Theme */
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 29%, 23%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlueH: hsl(236, 33%, 92%);
    --DarkGrayishBlueD: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlueD: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlueD1: hsl(237, 14%, 26%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Josefin Sans, sans-serif;
}

.container {
    margin: 100px auto;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
}

.top {
    font-weight: 700;
    color: white;
    letter-spacing: 15px;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.theme{
    width: 25px;
    height: 25px;
}

.theme:hover{
    cursor: pointer;
}

.inputTask {
    height: 75px;
    margin-bottom: 30px;
}

input {
    width: 80%;
    height: 100%;
    border: none;
}

input:focus {
    outline: none;
}

.taskList {
    min-height: 400px;
    display: grid;
    grid-template-rows: 6fr 0.5fr; 
}

.list {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: auto;
}

.task:hover{
    cursor: pointer;
}

.task img {
    min-width: 11px;
    padding-left: 3.5px;
}

.cross {
    float: right;
    display: none;
}

.done {
    text-decoration: line-through;
    color:  var(--DarkGrayishBlueD);
}

.check {
    margin-left: 10px;
    margin-right: 20px;
    display: inline-block;
    border: solid;
    border-width: 1px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-color: var(--DarkGrayishBlueD);
}

.check:hover{
    cursor: pointer;
}

.checked {
    background: linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
    border-color: linear-gradient(hsl(192, 100%, 67%) , hsl(280, 87%, 65%));
}

.foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
    align-items: center;
    padding: 15px;
    color: var(--DarkGrayishBlueD);
    grid-row-start: 7;
}


/* Dark Theme */

.all:hover, .active:hover, .completed:hover, .clear-completed:hover {
    cursor: pointer;
    color: white;
}

.taskList, input, .inputTask {
    background: #24263c;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    font-weight: 300;
}

.task {
    max-height: 60px;
    border-bottom: 2px solid var(--VeryDarkDesaturatedBlue);
    padding: 15px;
    padding-top: 20px;
    padding-right: 25px;
}

body {
    background: url('images/bg-desktop-dark.jpg');
    background-size: 100% 35vh;
    background-repeat: no-repeat;
    background-color:  hsl(235, 21%, 11%);
    height: 100vh;
    overflow: hidden;
}

.buffer {
    display:none;
}

@media screen and (max-width: 550px) {
    .container{
        width: 85vw;
        height: 80vh;
    }

    .top{
        max-height: 70px;
    }

    .taskList {
        min-height: 450px;
        max-height: 600px;
        grid-template-rows: 6fr 1.2fr; 
    }


    .foot {
        margin-top: -70px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 20px 40px 20px;
        padding: 0;
        font-size: 16px;
        justify-items: stretch;
        row-gap: 20px;
        padding-bottom: 30px;
    }
    
    .clear-completed, .items{
        justify-self: center;
    }

    .buffer {
        grid-column-start: 1;
        grid-column-end: 3;
        padding: 0;
        margin: 0;
        display: inline;
        width: inherit;
        height: 40px;
        grid-row-start: 2;
        background: hsl(235, 21%, 11%);
    }

    .renderOptions {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 10px;
    }
}